@charset "UTF-8";




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body, html {
  overflow-x: hidden;
}
.spinner-border {
  --bs-spinner-border-width: 0.20em !important;
}
.spinner-grow {
  --bs-spinner-width: 1rem !important;
  --bs-spinner-height: 1rem !important;
}
body {
  font-family: 'Vazirmatn', sans-serif;
  color: #444444;
  direction: rtl;
}
a {
  color: #ffc451;
  text-decoration: none;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vazirmatn', sans-serif;
}
